<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bitcoin Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Marktkapitalisierung</ion-card-subtitle>
              <ion-card-title>{{ details.marketCap.toLocaleString() }} USD</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Anzahl aller Bitcoins im Umlauf</ion-card-subtitle>
              <ion-card-title>{{ details.totalBc.toLocaleString() }} BTC</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Anzahl der Transaktionen in den letzten 24h</ion-card-subtitle>
              <ion-card-title>{{ details.twentyFourHrTransactionCount.toLocaleString() }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Anzahl gesendeter Bitcoin in den letzten 24h</ion-card-subtitle>
              <ion-card-title>{{ details.twentyFourHrBtcSent.toLocaleString() }} BTC</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Aktuelle Hashrate</ion-card-subtitle>
              <ion-card-title>{{ details.hashRate.toFixed(3) }} Ehash/s</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Aktueller Schwierigkeitsgrad</ion-card-subtitle>
              <ion-card-title>{{ details.getDifficulty.toLocaleString() }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
