<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="selectedCurrency" interface="popover" (ngModelChange)="convert()">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
      </ion-select>
      <ion-input  type="number" placeholder="0" slot="end" [(ngModel)]="toBeConvertedValue" (ngModelChange)="convert()">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        {{ convertedValue }} BTC
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
