<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meine Bitcoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngIf="profileService.isStorageAvailable()">
      <ion-card-header>
        <ion-card-title>Wie viele Bitcoin hast du?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>
            BTC
          </ion-label>
          <ion-input  type="number" placeholder="0" slot="end" step="0.1" [(ngModel)]="myCoinsAmount" (ngModelChange)="profileService.setMyCointsAmount(myCoinsAmount)">
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
