ion-content > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

ion-card {
  max-width: 1000px;
  margin: auto;
}

ion-card-header {
  text-align: center;
}
