<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Converter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select value="USD" interface="popover">
        <ion-select-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</ion-select-option>
      </ion-select>
      <ion-input  type="number" placeholder="0" slot="end" [(ngModel)]="toBeConvertedValue">
      </ion-input>
    </ion-item>
    <!--<ion-item>
      <ion-button (click)="swap()">
        <ion-icon slot="start" name="swap-vertical"></ion-icon>
        Swap
      </ion-button>
    </ion-item>-->
    <ion-item>
      <ion-label>
        BTC {{convertedValue()}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
