<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Marktkapitalisierung</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Anzahl aller Bitcoins im Umlauf</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Anzahl der Transaktionen in den letzten 24h</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Anzahl gesendeter Bitcoin in den letzten 24h</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aktuelle Hashrate</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Aktueller Schwierigkeitsgrad</ion-card-subtitle>
            <ion-card-title>1000 BTC</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
